.fourth-conteiner{
    background-color: #29B24E;
    display: flex;
    justify-content: space-between;
    padding: 35px;
    border-bottom: 1px solid #D0D0D0;
}
.footer-ul{
    display: flex;
}
.footer-ul li{
    margin-right: 30px;
    color: white;
}
.footer-ul li a{
    color: white;
}
.footer-a a{
    color: white;
}
.footer-last-p{
    background-color: #29B24E;
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}