.header-main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul{
    display: flex;
}
.nav-ul li a{
    margin-right: 48px;
    font-family: poppins-regular;
    color: black;
}
.sell-something-button{
    background-color: #29B24E;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 13px 26px 13px 26px;
}
.logo{
    max-width: 48px;
    width: 100%;
}
.nav-ul li a:hover{
    border-bottom: solid #29B24E;
}