*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 1920px;
    background-color: hsl(0, 0%, 95%);
    overflow-x: hidden;
}
section{
    margin-top: 58px;
}
.first-page-conteiner{
    display: flex;
    justify-content: center;
    font-family: poppins-regular;
}
.data-div{
    width: 43%;
    background-color: #F8F8F8;
    border-radius: 24px;
}
.first-ul{
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
}
.page-photo{
    max-width: 810px;
    width: 100%;
}
.second-ul{
    display: flex;
    margin-top: 40px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.second-ul li{
    padding-right: 24px;
    padding-left: 40px;
}
.data-div h1{
    padding-left: 40px;
}
.last-three-ul-div{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 24px;
}
.last-first-ul{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.last-first-ul li{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}
.last-first-ul li h5{
    color: grey;
    padding-bottom: 4px;
}
.last-second-ul{
    padding-top: 24px;
}
.last-second-ul li h5{
    color: grey;
}
.price-p{
    padding-left: 94px;
}
.price-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}
.price-p span{
    color: #29B24E;
    font-size: 36px;
    font-family: poppins-bold;
}
.sent-message{
    border: 1px solid #29B24E;
    padding: 13px 26px 13px 26px;
    border-radius: 12px;
    margin-right: 16px;
    color: #29B24E;
}
.call{
    border: 1px solid #29B24E;
    padding: 13px 26px 13px 26px;
    border-radius: 12px;
    margin-right: 40px;
    background-color: #29B24E;
    color: white;
}